<div id="empty-space"></div>
<footer>
    <p>MinLink &copy; 2023</p>
    <p>Designed and built by <span class="dark-shade">Tajudeen Sheriff Adekunle.</span> An <a href="https://www.altschoolafrica.com/" target="_blank">AltSchool Africa</a> Capstone Project.</p>
</footer>