
<header>
    <h2>MinLink</h2>
    <nav>
        <ul>
            <li id="home-link"><a href="/">Home</a></li>
            <li id="signup-link"><a href="/pages/signup">Sign Up</a></li>
            <li id="signin-link"><a href="/pages/signin">Sign In</a></li>
            <li id="dashboard-link"><a href="/pages/dashboard">Dashboard</a></li>
            <li id="logout-link"><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>
    
